.header {
    background-image: url('../images/pexels-ylanite-koppens-1445416.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav {
    background-color: transparent;
}

nav a {
    color: black;
}

nav ul a {
    color: black;
}