body {
    background-color: lightpink;
}

.container {
    margin: 40px auto;
    width: 100%;
    background-color: white;
}

.form-control {
    border-color: transparent transparent lightpink transparent;
    background: transparent;
    outline: 0;
}
